<div class="row">
  <div class="small-12 columns">
    <h4>Active tasks</h4>
    
    <table>
      <% @tasks.each do |task| %>
      <tr>
        <td><%= link_to task.device.serial, task.device %></td>
        <td><%= task.created_at.to_s(:short) %></td>
        <td><%= link_to 'Cancel', task_path(task), method: :destroy %></td>
        <td><%= link_to 'Finish', finish_task_path(mac: task.device.mac_address) %></td>
      </tr>
      <% end %>
    </table>
    
  </div>
</div>