<div class="row">
  <div class="medium-8 columns">
    <h3>New <%= @site.abbr.upcase %> server</h3>
    <hr>
    <%= render 'form' %>
    <%= link_to 'Back', admin_site_servers_path(@site) %>
  </div>
</div>
