@import 'foundation';
@import 'font-awesome';

$highlight: mix(lighten(#ff0, 40%), #f00, 95%);

td .button-group .button{
  margin: 0;
}

.clickable{
  &:hover{
    cursor: pointer;
    background-color: $highlight;
  }
}

.messages{
  text-align: center;
}

nav.pagination{
  margin: 2em auto;
}